@import url('https://fonts.googleapis.com/css?family=Oswald:300|Roboto:300|400|700&display=swap');

@tailwind base;

@tailwind components;

:root {
    --transition-time: 200ms;
}

body {
    @apply text-gray-600 font-roboto;
}

a {
    @apply text-primary;
}

h1, h2, h3, .h1, .h2, .h3 {
    @apply font-oswald p-0 m-0;
}

h1, .h1 {
    @apply text-4xl;
}

h2, .h2 {
    @apply text-3xl;
}

h3, .h3 {
    @apply text-2xl;
}

p {
    @apply p-0 m-0 py-4;
}

.columns-2 {
    & p {
        column-count: 2;
    }
}

p:last-child {
}

.photo {

    @apply absolute w-full h-full overflow-hidden;

    > img {
        @apply w-full h-full object-cover;
    }
}

.content-element-icons {
    @apply cursor-pointer px-2 py-1 mb-2 flex items-center justify-center;
}

.remove-icon {
    @apply text-xl text-red-600 border border-transparent rounded cursor-pointer h-6 w-6 flex items-center justify-center;
}

.remove-icon:hover {
    @apply bg-white border-gray-300;
}

input, .editor {
    @apply w-full bg-transparent border border-transparent;
}

.inline-form {
    & input {
        @apply w-auto;
    }
}

input:hover, input:focus, .editor:hover, .editor:focus {
    @apply border-gray-300;
}

input::placeholder, .placeholder, input::placeholder:hover, .placeholder:hover {
    @apply opacity-100 italic;
}

.photo-block-text-blue, .photo-block-text-gray {
    & input::placeholder, .placeholder, .placeholder:hover {
    }
}

.form {

    & div.input {
        @apply mb-4;
    }

    & input {
        @apply border border-gray-300 bg-gray-100 px-4 py-2 w-full;
    }

}

button, .button {
    @apply flex bg-primary text-white font-bold px-4 py-1 cursor-pointer;
}

.button-icon {
    @apply h-8 w-8 flex justify-center items-center cursor-pointer;
}

.button-icon.active {
    @apply bg-primary text-white;
}

.button-icon.disabled {
    @apply bg-gray-200 text-primary border-primary border;
}

.success {
    @apply text-green-500;
}

.error {
    @apply text-red-600;
}

.warning {
    @apply text-orange-600;
}

.caret {
    transition: transform var(--transition-time) ease-out;
}

.rotate90 {
    transform: rotate(90deg);
}

/* CONTENT */

.text-block {
    @apply p-8;
}

.photo-block-text-blue {
    @apply text-white bg-blue-400;
}

.photo-block-text-gray {
    @apply text-white bg-gray-500;
}

/* EDITOR */

.ProseMirror:focus {
    @apply outline-none;
}

.menubar__button {
    @apply w-6 h-6 m-1 cursor-pointer flex items-center justify-center rounded border shadow-inner bg-gray-200;
}

.menubar__button:hover {
    @apply bg-white;
}

.menubar__button.is-active {
    @apply bg-white shadow;
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    100%   {
        opacity: 1;
    }
}

.fade-enter-active {
    animation: fade var(--transition-time) ease-out;
}

.fade-leave-active {
    animation: fade var(--transition-time) reverse;
}

.spin {
    animation: rotating 1s linear infinite;
}

@keyframes rotating {
    0% {
        transform: rotate(0deg);
    }
    100%   {
        transform: rotate(360deg);
    }
}

@tailwind utilities;
