@import url('https://fonts.googleapis.com/css?family=Oswald:300,400|Roboto:300,400,700&display=swap');

@tailwind base;

@tailwind components;

:root {
    --transition-time: 200ms;
}

html {
  scroll-behavior: smooth;
}

body {
    @apply text-gray-600 font-roboto bg-gray-100;
}

.contents {
    display: contents;
}

a {
    @apply text-primary;
}

h1, h2, h3, .h1, .h2, .h3 {
    @apply font-oswald p-0 m-0 font-light leading-tight;
}

h1, .h1 {
    @apply text-3xl;
}

h2, .h2 {
    @apply text-2xl;
}

h3, .h3 {
    @apply text-xl;
}

@media (min-width: 768px) {
    h1, h2, h3 {
        @apply leading-normal;
    }

    h1, .h1 {
        @apply text-4xl;
    }

    h2, .h2 {
        @apply text-3xl;
    }

    h3, .h3 {
        @apply text-2xl;
    }
}

p {
    @apply p-0 m-0 py-2;
}

@media (min-width: 768px) {
    p {
        @apply leading-relaxed;
    }
}

p:first-child, p:last-child {
}

p:empty {
    @apply p-0;
}

p {
    img {
        @apply w-full py-4;
    }
}

@media (min-width: 768px) {
    p {
        img {
            @apply w-full px-16 py-4;
        }
    }
}

@media (min-width: 768px) {
    .columns-2 {
        @apply w-full;
        column-count: 2;
        column-gap: 3rem;
    }
}

table {
    @apply w-full m-4 bg-wash;
}

tr {
    min-height: 32px;
}

tr:nth-child(even) {
}

tr:nth-child(odd) {
}

tr:last-child {
    > td {
        @apply border-b-0;
    }
}

td {
    @apply border-b border-r border-gray-400;

    & p {
        @apply px-2 py-1;
    }
}

td:last-child {
    @apply border-r-0;
}

iframe {
    @apply absolute w-full h-full;
}

.photo {

    @apply absolute w-full h-full overflow-hidden;

    > img {
        @apply w-full h-full;
    }
}

.photo.fill {
    > img {
        @apply object-cover;
    }
}

.photo.fit {
    > img {
        @apply object-contain;
    }
}

.photo-icons {
    @apply absolute bottom-0 z-3 w-full text-lg;
}

.content-element-icons {
    @apply cursor-pointer px-2 py-1 mb-2 flex items-center justify-center;
}

.remove-icon {
    @apply text-xl text-red-600 border border-transparent rounded cursor-pointer h-6 w-6 flex items-center justify-center;
}

.remove-icon:hover {
    @apply bg-white border-gray-300;
}

input, .editor {
    @apply w-full bg-transparent border border-transparent;
}

.inline-form {
    & input {
        @apply w-auto;
    }
}

input:hover, input:focus, .editor:hover, .editor:focus {
    @apply border-gray-300;
}

input::placeholder, .placeholder, input::placeholder:hover, .placeholder:hover {
    @apply opacity-100 italic;
}

input[type=range]::-moz-range-track, input[type=range]::-webkit-slider-runnable-track {
    background: rgba(255,255,255,0.75);
}

input[type=range]:hover {
    @apply border-transparent;
}

.text-style-blue, .text-style-gray {
    & input::placeholder, .placeholder, .placeholder:hover {
    }
}

.text-style-blue {
    & ::selection {
        @apply bg-blue-700;
    }
}

.form {

    & div.input {
        @apply mb-4;
    }

    & input { 
        @apply border border-gray-300 bg-gray-100 px-4 py-2 w-full;
    }

    & input.remove {
        @apply pl-4 pr-8;
    }
}

button, .button {
    @apply inline-flex bg-primary text-white font-bold px-4 py-1 cursor-pointer whitespace-no-wrap;
}

.button-icon {
    @apply h-8 w-8 flex justify-center items-center cursor-pointer;
}

.button-icon.active {
    @apply bg-primary text-white;
}

.button-icon.disabled {
    @apply bg-gray-200 text-primary border-primary border;
}

.success {
    @apply text-green-500;
}

.error {
    @apply text-red-600;
}

.warning {
    @apply text-orange-600;
}

.caret {
    transition: transform var(--transition-time) ease-out;
}

.rotate90 {
    transform: rotate(90deg);
}

/* MENU */

.sub-menu {
    max-height: 0px;
    transition: max-height var(--transition-time) ease-out;
}

.show-sub-menu {
    > .sub-menu {
        max-height: 32px;
    }
}

/* CONTENT */

.text-block {
    @apply px-8 py-0 w-full max-w-xl;
}

.text-style-white {
    @apply bg-white;
}

.text-style-blue {
    @apply text-white bg-blue-400;
}

.text-style-gray {
    @apply text-white bg-gray-500;
}


.stat-number {
    @apply font-oswald font-normal text-6xl leading-none whitespace-no-wrap;

    > .stat-symbol:first-child {
        @apply -ml-8;
    }

    > .stat-symbol:last-child {
        @apply -mr-8;
    }
}

.stat-numbers {
    @apply text-8xl;
}

.text-shadow {
    text-shadow: 1px 1px 0px #000000; 
}

.drop-shadow {
    box-shadow: 1px 1px 0px #000000;
}

.stat-symbol {
    @apply text-3xl;
}

.stat-name {
    @apply font-oswald text-xl;
}

@media (min-width: 768px) {
    .stat-number {
        @apply text-6xl;
    }
    .stat-name {
        @apply text-2xl;
    }
    .stat-symbol {
        @apply text-5xl;
    }
}


/* EDITOR */

.ProseMirror {
    & p:first-child {
        @apply pt-2;
    }
}

.ProseMirror:focus {
    @apply outline-none;
}

.menubar__button, .menubar_table_button {
    @apply mx-1 cursor-pointer flex items-center justify-center rounded border shadow-inner bg-gray-200;
}

.menubar__button {
    @apply w-6 h-6;
}

.menubar__button:hover {
    @apply bg-white;
}

.menubar__button.is-active {
    @apply bg-white shadow;
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    100%   {
        opacity: 1;
    }
}

.fade-enter-active {
    animation: fade var(--transition-time) ease-out;
}

.fade-leave-active {
    animation: fade var(--transition-time) reverse;
}

.spin {
    animation: rotating 1s linear infinite;
}

@keyframes rotating {
    0% {
        transform: rotate(0deg);
    }
    100%   {
        transform: rotate(360deg);
    }
}

@keyframes slide-down {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }
    100%   {
        opacity: 1;
        transform: translateY(0%);
    }
}

.slide-down-enter-active {
    animation: slide-down var(--transition-time) ease-out;
}

.slide-down-leave-active {
    position: absolute;
    animation: slide-down var(--transition-time) reverse;
}

@tailwind utilities;
